form label, form input, form textarea {
  display: block;
  width: calc(100% - 10px);
  padding: 10px 0px;
  margin: 5px;
}
form label  {
  font-size : 20px;
  font-weight: 300;
}

form button {
  padding: 10px;
  color: white;
  background-color: lightcoral;
  border: 0px;
  margin: 5px;
}